/* Hero Section */
.hero-section{
  background-color: #F1F3FF;
}
.hero-container{
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
}
.hero-tagline{
  width: 90%;
  margin-top: 30px;
}
.btnsewa{
  text-decoration: none;
  border: none;
  font-weight: 700;
  background-color: #5CB85F;
  color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 3px;
}
.img-hero{
 margin-top: 100px;
 margin-bottom: 0px;
 width: 30%;
}