/* Search Panel */
#searchpanel{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-top: -50px !important;
  margin-bottom: 100px;
  padding: 15px 20px 15px 20px;
  background-color: white;
}

.searchpanelbutton{
  margin-top: 33px;
  background: #5CB85F;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  


  border: none;
  border-radius: 2px;
}
.search-panel label{
  font-weight: 400;
  width: 100%;
  margin-bottom: 5px;
}