body{
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-tag{
  background-color: #F1F3FF;
}
.nav-link{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.btn-register{
  background: #5CB85F;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  
  width: 81px;
  height: 36px;

  border: none;
  border-radius: 2px;
}

/* Hero Section */
.hero-container{
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
}
.hero-tagline p{
  width: 90%;
  margin-top: 30px;
}
.btn-sewa{
  border: none;
  font-weight: 700;
  background: #5CB85F;
  color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 2px;
}
.img-hero{
 margin-top: 100px;
 margin-bottom: 0px;
 width: 30%;
}

/* Service Section */
.img-model{
  
  margin-top: 50px;
  width: 80%;
}
.service-tagline{
  padding-top: 50px;
}
.service-tagline h1{
  font-weight: 700;
}
.service-tagline ul{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.service-tagline ul li{
  align-items: center;
  margin-left: 0;
}
.service-tagline ul li span{
  padding-left: 10px;
}

/* Testimonial Section */

.carousel-card {
  display: flex;
  padding: 48;
  margin: 0 16px;
  max-width: 600px;
  border-radius: 8px;
  background-color: #F1F3FF;
}

.img-carousel{
  padding-top: 40px;
  text-align: center;
}
.carousel-button{
  display: flex;
}
.carousel-button-content{
  margin: 0 10px;
}
.carousel-button-prev{
  padding-right: 0px;
}


/* CTA Banner */
.container-items{
  background-color: darkblue;
  border-radius: 10px;
}
.cta-tagline{
  color: #FFFFFF;
  width: 70%;
}
.cta-tagline p{
  padding-top: 15px;
  width: 80%;
}

/* FAQ Section */
.faq-tagline{
  width: 50%;
}
.faq-tagline h1{
  font-weight: 700;
}

/* Footer Section */
.nav-tagline a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin: auto;
}

/* Mobile View */
@media (max-width: 576px) { 
  /* Hero Section */
  .hero-container{
      margin-left: 5px;
      margin-top: 5px;
  }   
  .img-hero{
      margin-left: 5px;
  }

  /* Why Section */
  .why-tagline{
      text-align: left;
  }

  /* Testimonial Section */
  .person-one-tagline{
      text-align: center;
      width: 60%;
      padding-top: 10px;
  }
  .carousel-tagline{
      text-align: center;
  }
  .carousel-tagline p{
      text-align: left;
      width: 80%;
      margin-left: 50px;
  }

 
}
/* 375px View */
@media (max-width: 375px) { 
  /* Testimonial */
  .img-carousel{
      text-align: center;
      padding-top: 5px;
      padding-bottom: 20px;
  }
  .carousel-tagline{
      text-align: center;
      padding: 10px 0px 10px 0px;
  }
  .carousel-tagline p{
      text-align: left;
      width: 100%;
  }
  .carousel-button {
      position: absolute;
      z-index: 10;
      top: 500px;
  }
}